<params>
input, 8
output, 8
clock, 8
</params>

<regs>
0: input_lo
1: input_hi
2: output_lo
3: output_hi
4: clock_lo
5: clock_hi
6-9: c<1-4>
10-13: vA, vB, vC, vD
14-17: e1, e2, e3, e4
18-20: x1, x2, x3
21-25 ~ tid, warpid, tid32
32-35 ~ a0, a1, a2, a3
36-42 ~ smem1, smem2, smem3, e_s1, e_s2
43-63 ~ c<5-10>
64-79 ~ e<5-10>
</regs>

<consts>
const_a, 8
</consts>

--:-:-:-:2      MOV input_lo, input[0];
--:-:-:-:2      MOV input_hi, input[1];
--:-:-:-:2      MOV clock_lo, clock[0];
--:-:-:-:4      MOV clock_hi, clock[1];


--:-:-:-:2      CS2R c1, SR_CLOCKLO;
--:-:0:-:2      LDG.E.STRONG.GPU vA, [input_lo];
01:-:-:-:2      CS2R c2, SR_CLOCKLO;
--:-:0:-:2      LDG.E.STRONG.CTA vB, [input_lo+0x4];
01:-:-:-:2      CS2R c3, SR_CLOCKLO;
--:-:0:-:2      LDG.E.STRONG.CTA vC, [input_lo+0x8];
01:-:-:-:2      CS2R c4, SR_CLOCKLO;
--:-:0:-:2      LDG.E.STRONG.CTA vA, [input_lo+0x10000];
01:-:-:-:2      CS2R c5, SR_CLOCKLO;

--:-:-:-:4      IADD3 e1, c2, -c1, RZ;
--:-:-:-:4      IADD3 e2, c3, -c2, RZ;
--:-:-:-:4      IADD3 e3, c4, -c3, RZ;
--:-:-:-:4      IADD3 e4, c5, -c4, RZ;

--:-:-:-:4      STG.E.SYS [clock_lo], e1;
--:-:-:-:4      STG.E.SYS [clock_lo+0x4], e2;
--:-:-:-:4      STG.E.SYS [clock_lo+0x8], e3;
--:-:-:-:4      STG.E.SYS [clock_lo+0x1c], e4;

--:-:-:-:6      NOP;

--:-:-:-:2      CS2R c1, SR_CLOCKLO;
--:-:1:-:2      LDC.E x1, const_a[0];
02:-:-:-:2      CS2R c2, SR_CLOCKLO;
--:-:1:-:2      MOV x2, const_a[1];
02:-:-:-:2      CS2R c3, SR_CLOCKLO;
--:-:1:-:2      MOV x3, const_a[2];
02:-:-:-:4      CS2R c4, SR_CLOCKLO;

--:-:-:-:4      IADD3 e1, c2, -c1, RZ;
--:-:-:-:4      IADD3 e2, c3, -c2, RZ;
--:-:-:-:4      IADD3 e3, c4, -c3, RZ;
--:-:-:-:4      STG.E.SYS [clock_lo+0xc], e1;
--:-:-:-:4      STG.E.SYS [clock_lo+0x10], e2;
--:-:-:-:4      STG.E.SYS [clock_lo+0x14], e3;

--:-:-:-:6      NOP;

--:-:-:-:2      CS2R smem1, SR_CLOCKLO;
--:-:0:-:2      LDS x1, [RZ+0x0];
01:-:-:-:4      CS2R smem2, SR_CLOCKLO;

--:-:-:-:5      IADD3 e_s1, smem2, -smem1, RZ;
--:-:-:-:4      STG.E.SYS [clock_lo+0x18], e_s1;

--:-:-:-:2      EXIT;
