<params>
input, 8
cost, 8
</params>

<regs>
0:  cost_base_lo
1:  cost_base_hi
2:  input_base_lo
3:  input_base_hi
4:  cost_offset
5:  input_offset
6-9: vA, vB, vC, vD
10: s0
11-12: s1, e1
13-14: s2, e2
15-16: s3, e3
17: im8
</regs>


--:-:-:-:2    MOV cost_base_lo, cost[0];
--:-:-:-:2    MOV cost_base_hi, cost[1];
--:-:-:-:2    MOV input_base_lo, input[0];
--:-:-:-:2    MOV input_base_hi, input[1];
--:-:-:-:2    MOV im8, 0x8;


--:-:-:-:2    CS2R s0, SR_CLOCKLO;

--:-:0:-:2    LDG.E.STRONG.CTA vA, [input_base_lo];
01:-:-:-:2    CS2R s1, SR_CLOCKLO;

--:-:0:-:2    LDG.E.STRONG.CTA vB, [input_base_lo+0x4];
01:-:-:-:2    CS2R s2, SR_CLOCKLO;

--:-:0:-:2    LDG.E.STRONG.CTA vC, [input_base_lo+0x8];
01:-:-:-:2    CS2R s3, SR_CLOCKLO;

--:-:-:-:2    IADD3 vA, vA, vB, vC;
--:-:-:-:2    IADD3 e1, s1, -s0, RZ;
--:-:-:-:2    IADD3 e2, s2, -s1, RZ;
--:-:-:-:2    IADD3 e3, s3, -s2, RZ;
--:-:-:-:2    STG.E.SYS [input_base_lo], vA;
--:-:-:-:2    STG.E.SYS [cost_base_lo], e1;
--:-:-:-:2    STG.E.SYS [cost_base_lo+0x4], e2;
--:-:-:-:1    STG.E.SYS [cost_base_lo+0x8], e3;
--:-:-:-:2    EXIT;
